/* Global Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.7em;
  font-family: "Indie Flower", cursive;
}

a {
  text-decoration: none;
  color: #241618;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

/* Utility */
.container {
  margin: auto;
  max-width: 80rem;
  overflow: auto;
  padding: 0 20px;
}

.text-primary {
  color: #241618;
}

.text-secondary {
  color: #4f4446;
}

.bg-extralight {
  background: #fffcfc;
}
.bg-light {
  background: #ffe8e5;
}

.bg-medium {
  background: #4f4446;
}

.bg-dark {
  background: #241618;
}

.lead {
  font-size: 2rem;
  color: #4f4f4f;
}

.btn {
  background: #4f4446;
  color: #ffe8e5;
  border: none;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  display: inline-block;
}

.btn:hover {
  background: #ffe8e5;
  color: #4f4446;
}

/* Navbar */
#navbar {
  overflow: auto;
}

#navbar .container h1 {
  float: left;
  padding-top: 2rem;
}

#navbar .container ul {
  list-style-type: none;
  float: right;
}

#navbar .container ul li {
  float: left;
}

#navbar .container ul li a {
  display: block;
  text-align: center;
  padding: 2rem;
  font-size: 1.3rem;
}

#navbar .container ul li a:hover {
  background: #4f4446;
  color: #ffe8e5;
}

#navbar .container .logo a {
  font-size: 2.3rem;
}

#navbar .container .logo a:hover {
  color: #4f4446;
}

/* Header Showcase */
#showcase {
  background: url("/img/showcase.jpg") no-repeat center center/cover;
  height: 40rem;
}

#showcase .showcase-content {
  padding-top: 170px;
  text-align: center;
}

#showcase .showcase-content h2 {
  font-size: 7rem;
  line-height: 1rem;
}

#showcase .showcase-content p {
  padding: 3rem 3rem;
  line-height: 2rem;
}

/* Services */
#home-services {
  text-align: center;
  height: 30rem;
} 

#home-services h2{
  padding-top: 4rem;
  font-size: 3rem;
}

#home-services .services {
  padding: 10rem 0;
}
#home-services .services .serv {
  display: inline-block;
  font-size: 1.5rem;
  margin: 0 10rem;
}

/* Home Info */
#home-info {
  height: 30rem;
}

#home-info .info-image{
  background-image: url("../img/homeinfo.jpg");
  min-height: 100%;
  float:left;
  width: 50%;
}

#home-info .info-content{
  min-height: 100%;
  float:right;
  width: 50%;
  text-align: center;
  font-size: 2rem;
  padding: 5rem 4rem;
}

/* Footer */
#main-footer {
  min-height: 4rem;
  text-align: center;
  padding: 1rem 0;
}